/* gotcha - all my CSS enhancements*/

@charset "utf-8";
* {
	margin:0px;
	padding:0px;	
}

main{
	max-width: 999;
	margin: auto;
	box-shadow: 30px, 0px, 40px rgba(0, 0, 0, 0.1), 
	-30px, 0px, 40px rgba(0, 0, 0, 0.1):
}

#caption{
	padding: 1.5rem;
	text-align: center;
	background: maroon;
	color; #fff;
}

#caption h3{
	border-left: dotted 1px #fff;
	border-right: dotted 1px #fff;
	display: inline-block;
	padding-right: 1rem;
	padding-left: 1rem;
}

body {
	background-image:url(images/backg.jpg);
	font-family:Arial, Helvetica, sans-serif;
}
p {
	font-family:Arial, Helvetica, sans-serif;
}
.container {
	width:999px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
}
.header {
	width:999px;
	height:80px;
	border-bottom-width:1px;
	border-bottom-color:#000;
	border-bottom-style:solid;
}
.logo {
	float:left;
	height:10px;
	width:30px;

}
.navigation {
	float:right;
	margin-top:55px;
	margin-right:20px;
}
.banner {
	clear:both;
	padding-top:10px;
}
.maincontent {
	width:600px;
	float:left;
	padding:20px;
}
.seccontent {
	width:293px;
	float:right;
	padding:20px;
}
.footer {
	clear:both;

	text-align: center;
  	padding: 2rem 1rem;
 	margin: auto;
 	color: maroon;


}
.textheading {
	float:left;
	color:maroon;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.homeTitle{
	color: maroon;
	font-size: 25px;
}

.detail {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	width:200px;
}
.newline {
	clear:both;
	height:20px;
}
.navigation a:link {
	text-decoration:none;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px 10px 0px 10px;
}
.navigation a:visited {
	text-decoration:none;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px 10px 0px 10px;
}
.navigation a:hover {
	text-decoration:underline;
	color:#000;
	font-fsamily:Arial, Helvetica, sans-serif;
	margin: 0px 10px 0px 10px;
}
.item {
	width: 120px;
	height:200px;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:30px;
	float:left;	

}
.rightimage {
	float:right;
	width:300px;
}
.lefttext {
	float:left;	
	width:300px;
}
.categories {
	margin-bottom:15px;	
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;	
}
.error {
	color:#ff0000;
}


footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
}
